#tab_plugin_levelpcb .tab-content {
    padding: 0;
    border: none;
}
#tab_plugin_levelpcb .separator {
    padding-left: 5px;
    padding-right: 5px;
}
#tab_plugin_levelpcb .tab-pane {
    padding-top: 10px;
}
#tab_plugin_levelpcb select {
    margin-bottom: 0;
}